.body_container{
    background:#ead487;
    font-family: 'Comic Sans MS'
    }
p{
    margin: 10px 90px;
    
}
img{
    background: gray;
    border-radius: 10px;
    padding:3px;
    margin: 109px 0 0 375px ;
}
